* {
    margin: 0;
    padding: 0;
    outline: none;
}

img {
    display: none;
}

body {
    text-align: center;
    background-image: url("../Assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    margin: auto;
    border: 2px solid white;
    background-image: url("../Assets/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: 0.5s;
}

canvas:hover {
    cursor: none;
}


/* DIV DE PAUSE */

.copie {
    margin: auto;
    width: 450px;
    height: 450px;
    border: 2px solid white;
    background-color: rgb(10, 66, 43);
    text-align: center;
    font-family: serif;
    color: white;
    position: absolute;
    display: block;
    border-radius: 10px;
    right: 50%;
    transform: translateX(50%);
    transition: 0.5s;
}

.copie > h1 {
    font-size: 3rem;
    margin: 40px;
    margin-bottom: 30px;
    font-weight: bold;
}

.copie > h2 {
    font-size: 1.4rem;
    margin: 10px;
    font-weight: bold;
}

.btn {
    width: 100px;
    font-weight: bold;
    border: 2px solid white;
    background-color: transparent;
    text-align: center;
    font-family: serif;
    color: white;
    transition: 0.5s;
    padding: 0.2rem;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    border: 2px solid white;
    color: rgb(10, 66, 43);
}

.affichHS {
    color: gold;
}


/* Div Separes */


/* Pause */

.pause {
    background-color: rgba(10, 66, 43, 0.5);
}

/* Menu */

#menu {
    background-color: #002f47;
}

#menu .btn:hover {
    background-color: white;
    border: 2px solid white;
    color: #002f47;
}

/* Dead */

#dead {
    background-color: #000015;
}

#dead h1 {
    color: #8B0000;
    text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
    /* text-shadow: 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px #FFF, 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255), 0px 0px 6px rgb(255, 255, 255);    */
}

#dead .btn:hover {
    color: #000015;
}



/* Les onglets et Div des onglets */

.onglet {
    color: white;
    text-align: center;
    width: 75%;
    height: 460px;
    background-color: #0a0a0a;
    border: 1px solid white;
    border-radius: 3px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    transition: 0.5s;
}

.onglet h1 {
    margin: 10px;
    margin-bottom: 30px;
}

.onglet > div {
    width: 75%;
    margin: auto;
    text-align: justify;
}

.onglet li {
    margin: 7.5px;
}

.onglet > p, .onglet > div > p {
    font-size: 1.3rem;
}

.onglet .btn:hover {
    color: black;
}



.x {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.1rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.5s;
}

.x:hover {
    background-color: white;
    color: #0a0a0a;
}



#mdj > h2 {
    margin-bottom: 2rem;
}
#mdj > div {
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
}

#mdj > div > button {
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 9rem;
    box-shadow: white 0px 1px 4px 0px;
}
#mdj > div > button:hover {
    color: black;
    box-shadow: black 0px 1px 4px 0px;
}
.currentGmd {
    color: red;
    margin-top: 1rem;
}
#sGmd {
    font-weight: bold;
    text-decoration: underline;
}
#saveGmd {
    margin-top: 7%;
    color: darkgreen /* rgb(10, 66, 43) */;
    border-color: darkgreen/* rgb(10, 66, 43) */;
}
#saveGmd:hover {
    color: black;
    background-color: darkgreen/* rgb(10, 66, 43) */;
}




/* Cacher */

.cacher {
    opacity: 0;
    transition: 0.5s;
}

.dspn {
    display: none;
}
